<app-townhall-card>
      <p class="card-header d-flex justify-content-center">
        How to play
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="mb-1">{{ goalInfo }}</p>
          <p>{{ solarPanelInfo }}</p>
        </li>
        <li class="list-group-item d-flex">
          <div class="legend-block red"></div>
          <div>
            <p>{{ shortageInfo }}</p>
            <p>{{ shortageGoldInfo }}</p>
          </div>
        </li>
        <li class="list-group-item d-flex">
          <div class="legend-block green"></div>
          <div>
            <p>{{ optimalInfo }}</p>
            <p>{{ optimalGoldInfo }}</p>
          </div>
        </li>
        <li class="list-group-item d-flex">
          <div class="legend-block purple"></div>
          <div>
            <p>{{ surplusInfo }}</p>
            <p>{{ surplusGoldInfo }}</p>
          </div>
        </li>
      </ul>
</app-townhall-card>
