.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.outer-leaflet {
  display: flex;
  height: 100%;
  width: 95%;
  background-image: url('src/assets/photos/town_hall.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5% 3% 3% 3%;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 3px;
}

.top-layer {
  display: flex;
  height: 20vh;
  width: 100%;
  background-color: #49311d;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #322313;
}

.middle-layer {
  display: flex;
  justify-content: space-around;
  height: 53vh;
  width: 100%;
}

.bottom-layer {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-layer-box {
  display: flex;
  height: 100%;
  background-color: antiquewhite;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 3px #322313;
}

.middle-layer-box:nth-child(1) {

}

.middle-layer-box > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.middle-layer-box:nth-child(3) {
  flex-direction: row !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.treasury-nav-box {
  display: flex;
  justify-content: space-around;
  height: 15vh;
  padding: 3% 3% 3% 3%;
  background-color: #49311d;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #322313;
}

.btn-sandy-brown {
  color: white;
  background-color: #976231;
  border: 2px ridge #976231;
  border-radius: 15px;
}

.btn-sandy-brown:hover {
  background-color: #a67033;
}

@media screen and (max-width: 1500px) {
  .btn-sandy-brown {
    font-size: 90%;
  }
}

.optimalLegend {
  height: 3vh;
  width: 2vw;
  background-color: #008000FF;
}

.surplusLegend {
  height: 3vh;
  width: 2vw;
  background-color: #663399FF;
}

.shortageLegend {
  height: 3vh;
  width: 2vw;
  background-color: #c50101;
}







