<div id="single-expanded" *ngIf="isSingleExpanded"
     [ngClass]="[singleExpandedCss, dayWeatherClass]">
  <div>
    <button type="button" class="btn-collapse" (click)="toggleCollapseForSingle()">
      {{ isCollapsed ? '<' : '>' }}
    </button>
    <div *ngIf="!isCollapsed" [ngClass]="fading">
      <button type="button" class="btn-toggle-view" (click)="toggleDoubleExpand()">
        {{ isDoubleExpanded ? '>>' : '<<' }}
      </button>
      <button type="button" class="btn-toggle-view" (click)="toggleSingleView()" [disabled]="isDoubleExpanded">
        {{ singleDashboardView == 'table' ? '<' : '>' }}
      </button>
      <div class="custom-container">
        <div>{{ mockGameDto.solarPanelAmount }}/{{mockGameDto.solarPanelCapacity}}</div>
        <div class="grid-load">{{mockGameDto.gridLoadTotal}}/{{mockGameDto.gridCapacity}}</div>
        <div class="energy-production">{{mockGameDto.energyProduction}}</div>
        <div class="energy-consumption">{{mockGameDto.energyConsumption}}</div>
      </div>
    </div>
  </div>
</div>

<div id="board-double-expanded" *ngIf="isDoubleExpanded" [ngClass]="doubleExpandedCss">
  <button type="button" class="btn-collapse" (click)="toggleCollapseForDouble()">
    {{ isCollapsed ? '<' : '>' }}
  </button>
  <div *ngIf="!isCollapsed" [ngClass]="fading">
    <button *ngIf="!isCollapsed" type="button" [ngClass]="btnToggleView" (click)="toggleDoubleExpand()">
      {{ isDoubleExpanded ? '>>' : '<<' }}
    </button>
    <div class="custom-container d-flex justify-content-around">
      <div class="funds">{{ mockGameDto.funds | currency: 'USD' }}</div>
      <div class="popularity">{{ mockGameDto.popularity }}p</div>
      <div class="grid-load">{{ mockGameDto.gridLoadTotal }}/{{ mockGameDto.gridCapacity }} </div>
    </div>
  </div>
</div>
