<div id="single-expanded" *ngIf="isSingleExpanded"
     [ngClass]="[singleExpandedCss, dayWeatherClass]">
  <div>
    <button type="button" class="btn-collapse" (click)="toggleCollapseForSingle()">
      {{ isCollapsed ? '<' : '>' }}
    </button>
    <div *ngIf="!isCollapsed" [ngClass]="fading">
      <button type="button" class="btn-toggle-view" (click)="toggleDoubleExpand()">
        {{ isDoubleExpanded ? '>>' : '<<' }}
      </button>
      <button type="button" class="btn-toggle-view" (click)="toggleSingleView()" [disabled]="isDoubleExpanded">
        {{ singleDashboardView == 'table' ? '<' : '>' }}
      </button>
      <div class="custom-container">
        <div class="popularity">Huishoudens: {{ gameDTO.houseHolds }}</div>
        <div class="funds">Zonnepanelen: {{ gameDTO.solarPanelAmount }}/{{ gameDTO.solarPanelCapacity }}</div>
        <div class="energy-production">Productie: {{ gameDTO.energyProduction }}</div>
        <div class="energy-consumption">Consumptie: {{ gameDTO.energyConsumption }}</div>
        <div class="grid-load">Netcapaciteit: {{ gameDTO.gridCapacity }}</div>
        <div class="grid-load">Netbelasting: {{gameDTO.gridLoad | number:'1.2-2'}} </div>
        <div class="research">Tijd van de dag: {{gameDTO.timeOfDay}}</div>
        <div class="research">Weer: {{gameDTO.weatherType}}</div>
      </div>
    </div>
  </div>
<!--  <div class="day-weather-box">-->
<!--    <div>Time of day</div>-->
<!--    <div [ngStyle]="{'background-color': gameDTO.timeOfDay.color}">{{ gameDTO.timeOfDay.name }}</div>-->
<!--    <div>Weather type</div>-->
<!--    <div [ngStyle]="{'background-color': gameDTO.weatherType.color}">{{ gameDTO.weatherType.name }}</div>-->
<!--  </div>-->
</div>

<div id="board-double-expanded" *ngIf="isDoubleExpanded" [ngClass]="doubleExpandedCss">
  <button type="button" class="btn-collapse" (click)="toggleCollapseForDouble()">
    {{ isCollapsed ? '<' : '>' }}
  </button>
  <div *ngIf="!isCollapsed" [ngClass]="fading">
    <button *ngIf="!isCollapsed" type="button" [ngClass]="btnToggleView" (click)="toggleDoubleExpand()">
      {{ isDoubleExpanded ? '>>' : '<<' }}
    </button>
    <div class="custom-container d-flex justify-content-around">
      <div class="funds">{{ gameDTO.funds | currency: 'USD' }}</div>
      <div class="popularity">{{ gameDTO.popularity }}p</div>
      <div class="grid-load">{{ gameDTO.gridLoad }}/{{ gameDTO.gridCapacity }}</div>
    </div>
  </div>
</div>
