<div class="districts-container">
    @for (district of districts; track district.id) {
      <div class="district-card"
           [ngClass]="{
       	'warning': district.stressLevel > 0.1 && district.stressLevel <= 0.3,
       	'danger': district.stressLevel > 0.3 && district.stressLevel <= 0.5,
       	'critical': district.stressLevel > 0.5
     	}">
        <div class="district-header">
          <div class="district-title">District {{ district.id }}</div>
          <span class="stress-indicator"
                [ngClass]="{
            	'stress-normal': district.stressLevel <= 0,
            	'stress-minor': district.stressLevel > 0 && district.stressLevel <= 0.1,
            	'stress-moderate': district.stressLevel > 0.1 && district.stressLevel <= 0.3,
            	'stress-severe': district.stressLevel > 0.3 && district.stressLevel <= 0.5,
            	'stress-critical': district.stressLevel > 0.5
          	}">
      	Status: {{ getStressText(district.stressLevel) }}
    	</span>
        </div>
        <app-building-info
          [district]="district"
          [isSingleDistrict]="isSingleDistrict"
          [customWidth]="customWidth"
          [customMargin]="customMargin"
        ></app-building-info>
      </div>
    }
</div>

