.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.time-of-day {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
}

.weather-type {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
}

.daytime-container {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  height: 25vh;
  width: 15vw;
  background-color: lightsteelblue;
}

.morning {
  background-color: #FFB6C1;
}

.afternoon {
  background-color: #87CEEB;
}

.evening {
  background-color: #FF7F50;
}

.night {
  background-color: #191970;
}

.moderate {
  background-color: #F5F5F5;
}

.overcast {
   background-color: #959595;
 }

.rainy {
  background-color: #5c5c5c;
}

.transition {
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}

.clock {}




