.purchase-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem; /* Add consistent padding to the container */
  gap: 1rem; /* Add gap between rows */
}

.top-row {
  display: flex;
  min-height: 200px;
  width: 100%;
  gap: 1rem;
  top: 0; /* Stick to the top of the viewport */
  border: 2px ridge grey;
  z-index: 100; /* Ensure it appears above other content */
  box-shadow: 10px 5px 10px rgba(0,0,0,0.1); /* Optional: add shadow for visual separation */
}

.buildings-section {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  max-width: 49%;
  padding: 1rem;
  position: relative;
  overflow-y: auto;
}


.tile-selected {
  background-color: #6666ff;
}

