<!--<div class="fill-container">-->
<!--  <ngx-charts-bar-vertical-->
<!--    [results]="chartResults"-->
<!--    [customColors]="customColors"-->
<!--    [gradient]="gradient"-->
<!--    [animations]="animations"-->
<!--    [xAxis]="showXAxis"-->
<!--    [yAxis]="showYAxis"-->
<!--    [showXAxisLabel]="showXAxisLabel"-->
<!--    [showYAxisLabel]="showYAxisLabel"-->
<!--    [xAxisLabel]="xAxisLabel"-->
<!--    [yAxisLabel]="yAxisLabel"-->
<!--    [yScaleMax]="yScaleMax">-->
<!--  </ngx-charts-bar-vertical>-->
<!--</div>-->
