@if (isPowerLineModalOpen) {
  <div class="shrink-modal-container">
    <app-modal
      [customWidthClass]="'w-25'">
      <div modal-body class="d-flex justify-content-around align-items-center">
        @if (!showPurchasePowerLine) {
          <button class="cancel" (click)="togglePowerLineBiModal()">X</button>
          <button class="btn btn-outline-primary m-3 mt-0 mb-0" (click)="setBuilding(building!)">Building Details</button>
          <button class="btn btn-warning m-3 mt-0 mb-0" (click)="togglePurchasePowerLine()">Purchase Power Line</button>
        } @else {

        }
      </div>
    </app-modal>
  </div>
}

<div class="card card-medium">
  <div class="cancel" (click)="togglePowerLineBiModal()">X</div>
  <img [src]="powerLine.imageUri"
       alt="{{powerLine.imageUri}} + ' image'"
       class="card-img-top-small img-fluid">
  <div class="d-flex justify-content-around">
    <div class="m-3 w-25 text-center">
      <div class="mb-1">Grid Capacity</div>
      <div class="grid-load">{{ powerLine.gridCapacity }}</div>
    </div>
    <div class="m-3 w-25 text-center">
      <div class="mb-1">Price</div>
      <div class="funds">{{ powerLine.price }}</div>
    </div>
  </div>
  <button class="btn btn-warning" (click)="purchasePowerLine()">Confirm Purchase</button>
</div>
