<div class="container-fluid">
  <img [src]="supervisor.image" alt="{{supervisor.firstName}} {{supervisor.lastName}} profile picture">
  <div class="card mt-5">
    <div class="card-header">
      <h1>Your locality dashboard</h1>
      <div *ngFor="let chart of charts">
        <ngx-charts-pie-chart
          [view]="[300, 300]"
          [results]="chartResults"
          [customColors]="chartColors"
          [gradient]="chartGradient"
          [legend]="showChartLegend"
          [legendPosition]="legendPosition">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</div>


