<div class="grid">
  @for (district of districts; track district.id) {
    <div class="district" [ngClass]="applyStatusColor(district)">
      @for (tile of district.tiles; track tile.id) {
        <div class="tile"
             (mouseenter)="showTooltip(tile, $event)"
             (mouseleave)="hideTooltip()"
             (click)="initializePurchase(tile)"
             [ngClass]="toggleSelectedTile(tile.id)">
          @if (tile.building) {
            <img class="img-fluid" [src]="tile.building.imageUri">
          }
        </div>
      }
    </div>
  }
</div>

@if (isPurchaseModalOpen && !event) {
  <app-modal
    [isModalOpen]="isPurchaseModalOpen"
    [showHeader]="false"
    [customWidthClass]="modalCustomWidth"
  >
    <div modal-body>
      @if (!isDetailView) {
        <button class="cancel" (click)="closePurchaseModal()">X</button>
        <div class="d-flex flex-wrap" id="purchase-buildings">
          @for (building of allBuildings; track building) {
            <div class="card card-small"
                 (click)="selectBuilding(building)"
                 [ngClass]="toggleSelectedBuilding(building.id)">
              <div class="card-img-top">
                <img [src]="building.imageUri" alt="{{building.imageUri}} + ' image'"
                     class="card-img-top-small img-fluid" [ngStyle]="{'border-color': building.color}">
              </div>
              <div class="property-block-theme-small">{{ building.name }}</div>
            </div>
          }
        </div>
        <div class="grid">
          <div class="district">
            @for (tile of district!.tiles; track tile) {
              <div class="tile"
                   (mouseenter)="showTooltip(tile, $event)"
                   (mouseleave)="hideTooltip()"
                   (click)="initializePurchase(tile)"
                   [ngClass]="toggleSelectedTile(tile.id)">
                @if (tile.building) {
                  <img class="img-fluid" [src]="tile.building.imageUri">
                }
              </div>
            }
          </div>
          @if (building) {
              <app-building-info
                [building]="building"
                [customWidth]="buildingInfoWidth"
              ></app-building-info>
          }
        </div>
        @if (building) {
          <div class="d-flex justify-content-around" id="purchase-buttons">
            <button class="btn btn-gold" (click)="toggleBuildingDetailView()">Details</button>
            <button class="btn-btn-gold" (click)="purchaseBuilding(this.tile)">Aankopen</button>
          </div>
        }
      }
      @if (building && isDetailView) {
        <app-building-view
          [gameDTO]="gameDTO"
          [building]="building!"
          (cancelDetailView)="cancelDetailView()"
        >
        </app-building-view>
      }

      @if (activeTile) {
        <div class="tooltip-box"
             [style.top.px]="tooltipY"
             [style.left.px]="tooltipX">
          <div class="tooltip-content">
            <h4>Perceel informatie</h4>
            <p>District: {{ activeTile.districtId }}</p>
            <p>Gebouw: {{ activeTile.building?.name }}</p>
            <div class="d-flex">
              <pre>Inkomen: </pre>
              @if (activeTile.building?.goldIncome) {
                <pre class="funds-color"> +{{ activeTile.building?.goldIncome }}</pre>
              }
              @if (activeTile.building?.popularityIncome) {
                <p class="popularity-color"> +{{ activeTile.building?.popularityIncome }}</p>
              }
            </div>
            <div class="d-flex">
              @if (activeTile.building?.energyProduction) {
                <p>Energieopwekking: </p>
                <p class="energy-production-color">{{ activeTile.building?.energyProduction }}</p>
              }
            </div>
            <div class="d-flex">
              @if (activeTile.building?.energyConsumption) {
                <pre>Stroomverbruik: </pre>
                <pre class="energy-consumption-color">{{ activeTile.building?.energyConsumption }}</pre>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </app-modal>
}

<app-modal [isModalOpen]="isBuildingModalOpen">
  <div modal-body class="d-flex flex-column align-items-center">
    <p>e hebt niet genoeg geld om deze voorziening aan te kopen</p>
    <button class="btn btn-outline-primary" (click)="toggleBuildingModalOpen()">Sluiten</button>
  </div>
</app-modal>

<app-modal [isModalOpen]="isCapacityModalOpen">
  <div modal-body class="d-flex flex-column align-items-center">
    <p>Dit district heeft niet genoeg netcapaciteit voor deze voorziening</p>
    <button class="btn btn-outline-primary" (click)="toggleCapacityModalOpen()">Sluiten</button>
  </div>
</app-modal>
