<div [class]="transitionClass">
  <div class="d-flex justify-content-between">
    <div [routerLink]="'game/townhall'" class="nav-demo-items">Town hall</div>
    <div [routerLink]="'game/factories'" class="nav-demo-items">Factories</div>
    <div [routerLink]="'game/sources'" class="nav-demo-items">Buildings</div>
  </div>

  <div class="stats">
    <div class="funds">{{ mockGameDto.funds | currency: 'USD' }}</div>
    <div class="popularity">{{ mockGameDto.popularity }}</div>
    <div class="research">{{ mockGameDto.research }}</div>
    <div class="environmental-score">{{ mockGameDto.environmentalScore }}</div>
    <div class="energy-production">{{ mockGameDto.energyProduction }}</div>
    <div class="energy-consumption">{{ mockGameDto.energyConsumption }}</div>
  </div>
</div>

<!--<button (click)="transition()"></button>-->
