
<div class="nav-demo navbar-expand-lg d-flex">
  <div class="nav-demo-items li">Home</div>
  <div class="nav-demo-items li">Energy Dashboard</div>
  <div class="nav-demo-items li">Contact</div>
  <app-clock class="nav-demo-items justify-content-center"></app-clock>
  <div class="nav-demo-items justify-content-end popularity">{{popularity}}</div>
  <div class="nav-demo-items justify-content-end funds">{{funds| currency: 'USD'}}</div>
</div>

<!--<div class="side-bar">-->
<!--  <p class="side-bar-block">Here's something</p>-->
<!--  <p class="side-bar-block">Here's too</p>-->
<!--  <p class="side-bar-block">Here's something</p>-->
<!--</div>-->

