<!--<div class="row">-->
<!--  <div class="col-md-4" *ngFor="let distributor of distributors">-->
<!--    <div class="card mt-5" (click)="navigateToDistributor(distributor.id)">-->
<!--      <div class="card-img-top">-->
<!--        <img [src]="distributor.image" alt="{{distributor.name}} logo">-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <h4>{{distributor.name}}</h4>-->
<!--        <p class="card-text">This is text</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

