<!--<div class="chart-container">-->
<!--  <ngx-charts-bar-vertical-stacked *ngIf="isInitialized"-->
<!--    [results]="chartResults"-->
<!--    [gradient]="gradient"  [scheme]="colorScheme"-->
<!--    [customColors]="customColors"-->
<!--    [xAxis]="xAxis"-->
<!--    [yAxis]="yAxis"-->
<!--    [yScaleMax]="yAxisMaxValue"-->
<!--    [legend]="showLegend"-->
<!--    [legendPosition]="legendPosition"-->
<!--    [tooltipDisabled]="false">-->
<!--  </ngx-charts-bar-vertical-stacked>-->
<!--</div>-->



<!--&lt;!&ndash;    <div class="loadsources-container" *ngIf="isInitialized">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="dashboard-box">&ndash;&gt;-->
<!--&lt;!&ndash;        <div>&ndash;&gt;-->
<!--&lt;!&ndash;          <app-chart-pie&ndash;&gt;-->
<!--&lt;!&ndash;            [trimLabels]="trimLabels"&ndash;&gt;-->
<!--&lt;!&ndash;            [showLabels]="showLabels"&ndash;&gt;-->
<!--&lt;!&ndash;            [chartVariableNames]="pieChartVariableNames"&ndash;&gt;-->
<!--&lt;!&ndash;            [chartColorValues]="pieChartColorValues"&ndash;&gt;-->
<!--&lt;!&ndash;            [chartResultValues]="pieChartResultValues">&ndash;&gt;-->
<!--&lt;!&ndash;          </app-chart-pie>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="bar-chart-container">&ndash;&gt;-->
<!--&lt;!&ndash;          <app-chart-bar-vertical&ndash;&gt;-->
<!--&lt;!&ndash;            [chartVariableNames]="barchartVariableName"&ndash;&gt;-->
<!--&lt;!&ndash;            [chartColorValues]="barChartColorValue"&ndash;&gt;-->
<!--&lt;!&ndash;            [chartResultValues]="barChartResultValue"&ndash;&gt;-->
<!--&lt;!&ndash;            [gradient]="gradient"&ndash;&gt;-->
<!--&lt;!&ndash;            [animations]="animations"&ndash;&gt;-->
<!--&lt;!&ndash;            [showXAxis]="showXAxis"&ndash;&gt;-->
<!--&lt;!&ndash;            [showYAxis]="showYAxis"&ndash;&gt;-->
<!--&lt;!&ndash;            [showXAxisLabel]="showXAxisLabel"&ndash;&gt;-->
<!--&lt;!&ndash;            [showYAxisLabel]="showYAxisLabel"&ndash;&gt;-->
<!--&lt;!&ndash;            [xAxisLabel]="xAxisLabel"&ndash;&gt;-->
<!--&lt;!&ndash;            [yScaleMax]="yScaleMax">&ndash;&gt;-->
<!--&lt;!&ndash;          </app-chart-bar-vertical>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->


