.daytime-container {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  height: 25vh;
  width: 15vw;
  background-color: lightsteelblue;
}

.time-of-day {

}

.clock {}

.weather-type {

}
