@if (powerPlants) {
  <div class="factory-display">
    @for (powerPlant of powerPlants; track powerPlant) {
      <div class="card" [ngClass]="applyGrayScale(powerPlant)">
        <div class="factory-image">
          <img class="img-fluid"
               [src]="getImageForPlant(powerPlant)" alt="{{powerPlant.name}}">
          <div class="slider-container">
            <input type="range" id="range-slider" class="slider"
                   min="{{minimumProduction}}"
                   max="{{maximumProduction}}"
                   step="{{sliderStepValue}}"
                   [(ngModel)]="powerPlant.energyProduction"
                   #newProduction
                   (input)="recalculateValues(powerPlant, newProduction)"
                   [disabled]="isDisabled"
            >
          </div>
        </div>
        <div class="factory-stats">
          <div class="grid-load">
            <div class="text-center">energy production</div>
            <div class="text-center mt-1">{{ powerPlant.energyProduction }}</div>
          </div>
          <div class="environmental-score">
            <div class="text-center">environmental score</div>
            <div class="text-center mt-1">{{ powerPlant.environmentalScore.toFixed(0)}}</div>
          </div>
        </div>
      </div>
    }
    <div class="button-container">
      <div class="cost-label">
        <div>kosten</div>
        <div>op/afschalen</div>
      </div>
      <div class="funds">{{ totalScalingCost | currency: 'EUR' }}</div>
      <div class="red-button mt-3" (click)="processPlantScaling()"></div>
    </div>
  </div>
}

<app-modal [isModalOpen]="isModalOpen">
  <div modal-body class="d-flex flex-column align-items-center">
    <p>Je hebt niet genoeg geld om je centrales te schalen!</p>
    <button class="btn btn-outline-primary" (click)="toggleModalOpen()">Sluiten</button>
  </div>
</app-modal>
