@if (coalPlant) {
  <div class="factory-display" [ngStyle]="{'background-image': 'url(' + secondaryImagesURL + ')'}">
    <div class="factory-panel">
      <div class="factory-panel-left pb-3">
        <div class="cells-grid" style="flex-direction: column-reverse">
          @for (cell of cells; track $index) {
            <div class="cell" [ngClass]="setColor(cell)"></div>
          }
        </div>
        <div class="grid-load w-50">
          <div class="text-center">Production</div>
          <div class="text-center">{{ coalPlant.energyProduction }}</div>
        </div>
      </div>
      <div class="factory-panel-center">
        <div>
          <div class="button-container">
            <div class="red-button" (click)="scaleProduction(gameDTO)"></div>
          </div>
        </div>
        <div>
          <div class="funds p-1 m-3 text-center">
            <div>Cost</div>
            <div>{{ scalingCost | currency: 'EUR' }}</div>
          </div>
          <div class="slider-container">
            <input type="range" id="range-slider" class="slider" name="slider"
                   min="{{minimumProduction}}"
                   max="{{maximumProduction}}"
                   step="{{sliderStepValue}}"
                   [(ngModel)]="coalPlant.energyProduction"
                   (input)="recalculate()">
          </div>
        </div>
      </div>
      <div class="factory-panel-right">
        <div class="cells-grid" style="flex-direction: column; margin-bottom: -1.5em">
        @for (cell of scoreCells; track $index) {
          <div class="cell" [ngClass]="setColor(cell)"></div>
        }
        </div>
        <div class="environmental-score d-flex flex-column align-items-center">
          <div>Score</div>
          <div>{{ coalPlant.environmentalScore }}</div>
        </div>
      </div>
    </div>
  </div>
}
