<div class="chart-box">
  <p>
    {{ chartTitle }}
  </p>
  <div class="legend-container">
    <div class="d-flex justify-content-end legend-bg">
      <div>{{ shortageAccountsText }}</div>
      <div class="chart-legend red"></div>
    </div>
    <div class="d-flex justify-content-end legend-bg">
      <div>{{ optimalAccountsText }}</div>
      <div class="chart-legend green"></div>
    </div>
    <div class="d-flex justify-content-end legend-bg">
      <div>{{ surplusAccountsText }}</div>
      <div class="chart-legend purple"></div>
    </div>
  </div>
</div>
<div class="chart-box">
  <app-chart-pie
    [showLabels]="showLabels"
    [chartVariableNames]="pieChartVariableNames"
    [chartColorValues]="pieChartColorValues"
    [chartResultValues]="pieChartResultValues">
  </app-chart-pie>
</div>
