@if (gameDTO) {
<app-daytime-weather [gameDTO]="gameDTO"></app-daytime-weather>
  <app-navbar
    [gameDTO]="gameDTO"
    (passViewType)="getViewType($event)"
    (passBuildingVieWType)="getBuildingViewType($event)"
  ></app-navbar>
  <div class="d-flex justify-content-between">
    <div>
      @if (dashboardType === townHallDashboard) {
        <app-townhall-dashboard [gameDTO]="gameDTO"></app-townhall-dashboard>
      }
      @if (dashboardType === factoryDashboard) {
        <app-factory-dashboard [gameDTO]="gameDTO"></app-factory-dashboard>
      }
      @if (dashboardType === buildingDashboard) {
        <app-building-dashboard
          [receivingViewType]="buildingViewComponentType"
          [gameDTO]="gameDTO"
          [allBuildings]="allBuildings"
          (passGameDTOToTopLevel)="updateGameDTO($event)"
        ></app-building-dashboard>
      }
    </div>
    @if (showGridLoadDashboard) {
    <div class="d-flex flex-column">
      <app-gridload-dashboard [gameDTO]="gameDTO"></app-gridload-dashboard>
    </div>
    }
  </div>
  <app-event (passEventResult)="processCompletedEvent($event)"></app-event>
}

<!--@if (!gameDTO) {-->
<!--  <button class="btn btn-primary" (click)="initiateGame()">Start game</button>-->
<!--}-->
<!--<router-outlet></router-outlet>-->

