<div class="d-flex flex-column align-items-center">
  @if (isMenu) {
    <app-main-menu></app-main-menu>
  }
  @if (isChoosePlayer) {
    <app-supervisor
      (passSupervisor)="getSupervisor($event)"
      [isInitiatingGame]="isChoosePlayer"
    ></app-supervisor>
    @if (isStartGameWarning) {
      <div class="text-danger">{{ startGameWarningText }}</div>
    }
    <button class="btn btn-outline-success m-2" (click)="startGame()">Start Game</button>
    @if (isLoading) {
      <p class="m-4">{{ isLoadingText }}</p>
    }
  }

  @if (gameDTO) {
    <app-daytime-weather></app-daytime-weather>
    <div class="sticky-top">
      <app-navbar
        (passViewType)="getViewType($event)"
        (passBuildingVieWType)="getBuildingViewType($event)"
      ></app-navbar>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        @if (dashboardType === townHallDashboardText) {
          <app-townhall-dashboard [gameDTO]="gameDTO"></app-townhall-dashboard>
        }
        @if (dashboardType === factoryDashboardText) {
          <app-factory-dashboard
          ></app-factory-dashboard>
        }
        @if (dashboardType === buildingDashboardText) {
          <app-building-dashboard></app-building-dashboard>
        }
        @if (dashboardType === universityDashboard) {
          <app-university></app-university>
        }
        @if (dashboardType === supervisorDashboardText) {
          <app-supervisor
            [gameDTO]="gameDTO"
            [isInitiatingGame]="isGamePreparation"
            [isDashboardOpen]="isSupervisorDashboard"
            (passCityView)="getCityView($event)"
            (passDTOtoTopLevel)="updateGameDTO($event)"
          ></app-supervisor>
        }
      </div>
    </div>
    <div class="supervisor-picture clickable" (click)="toggleSupervisorDashboard()">
      <img class="img-fluid" [src]="gameDTO.supervisor.imageUrl">
    </div>
    <app-event
      [eventsInitialDelay]="initialDelaySchedulers"
      [isManualKickOff]="isManualKickOffEvents"
    ></app-event>

    @if (isVictory) {
      <app-modal
        [showHeader]="true"
        [headerClass]="'bg-success'">
        <div modal-title>
          <p>You Have Won The Game!</p>
          <img class="img-fluid">
        </div>
        <p>The inhabitants of your city are impressed by your vision</p>
        <p>and would like you to stay as their environmental advisor</p>
      </app-modal>
    }
  }
</div>
