.navbar{
  box-shadow: 0 2px 10px 0;
  background-color: #cc0303;
}

.side-bar {
  width: 1.0444%;
  background-color: gold;
  min-height: 100vh;
  float: left;
}

.left-half {
  position: absolute;
  width: 50%;
  top: 0;
  height: 100%;
}

.right-half {
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 0;
}



