<div class="d-flex justify-content-center align-items-center">
  <div class="card card-large"
       [ngStyle]="{'border-color': building!.color}">
    <div class="card-column justify-content-end align-items-center">
      <div class="d-flex justify-content-between">
        <div class="property-block-title background-color-light-brown"
             [ngStyle]="{'border-color': building!.color}">
          <div class="justify-content-start">{{ building!.name }}</div>
        </div>
      </div>
      <div class="card-img-top img-radius">
        <img [src]="building.imageUri" alt="{{building.imageUri}} + ' image'" class="img-fluid img-radius">
      </div>
      <div class="d-flex flex-column align-items-center h-35">
        <h6 class="property-block-theme mb-2 mt-4 background-color-light-brown">{{ building!.category }}</h6>
        <h6 class="property-block-theme mt-2 mb-3 background-color-gold">Price: {{ building!.price }}</h6>
      </div>
    </div>
    <div class="card-column flex-column">
      <div class="d-flex justify-content-evenly">
        <div class="property-column">
          <div class="property-block" [ngStyle]="{'border-color': getBorderColor(building!.energyProduction)}">
            <div>Energy Production</div>
            <div>{{ building!.energyProduction }}</div>
          </div>
          <div class="property-block" [ngStyle]="{'border-color': getBorderColor(building!.energyConsumption)}">
            <div>Energy Consumption</div>
            <div>{{ building!.energyConsumption }}</div>
          </div>
          <div class="property-block" [ngStyle]="{'border-color': getBorderColor(building!.houseHolds)}">
            <div>Households</div>
            <div>{{ building!.houseHolds }}</div>
          </div>
          <div class="property-block" [ngStyle]="{'border-color': getBorderColor(building!.goldIncome)}">
            <div>Gold income</div>
            <div>+{{ building!.goldIncome }}</div>
          </div>
          <div class="property-block" [ngStyle]="{'border-color': getBorderColor(building!.researchIncome)}">
            <div>Research income</div>
            <div>+{{ building!.researchIncome }}</div>
          </div>
        </div>
        <div class="property-column">
            <button class="cancel" (click)="toggleDetailView()">X</button>
          <div class="property-block" [ngStyle]="{'border-color': getBorderColor(building!.gridLoad)}">
            <div>Solar Panels</div>
            <div>{{ building!.solarPanelAmount }}</div>
          </div>
          <div class="property-block"
               [ngStyle]="{'border-color': getBorderColor(building!.solarPanelCapacity)}">
            <div>Solar Panel Capacity</div>
            <div>{{ building!.solarPanelCapacity }}</div>
          </div>
          <div class="property-block" [ngStyle]="{'border-color': getBorderColor(building!.gridCapacity)}">
            <div>Grid Capacity</div>
            <div>{{ building!.gridCapacity }}</div>
          </div>
          <div class="property-block" [ngStyle]="{'border-color': getBorderColor(building!.popularityIncome)}">
            <div>Popularity income</div>
            <div>+{{ building!.popularityIncome }}</div>
          </div>
          <div class="property-block" [ngStyle]="{'border-color': getBorderColor(building!.environmentalScore)}">
            <div>Score</div>
            <div>+{{ building!.environmentalScore }}</div>
          </div>
        </div>
      </div>
      @if (!building!.instanceId && !(building!.category === categoryPowerPlant)) {
        <button class="purchase-button btn btn-gold mb-2" (click)="toggleDetailView()">
          Selecteer
        </button>
      }
    </div>
  </div>
</div>
