.middle-layer-box {
  display: flex;
  width: 100%;
}

.middle-layer-box:nth-child(1) {
  justify-content: center;
  height: 30vh;
  overflow: hidden;
}

.middle-layer-box:nth-child(2) {
  height: 70%;
  flex-flow: row wrap;
  background-color: antiquewhite;
}

.bar-chart-container {
  width: 10%;
}

.img-radius {
  border-radius: 3em;
}

.card-large {
  display: flex;
  flex-direction: row;
  height: 52vh;
  width: 95vw;
  margin: 1em;
  padding: 0.75em;
  color: white;
  background-color: antiquewhite;
  border-top: 2px solid;
  border-bottom: 8px solid;
  border-right: 0;
  border-left: 0;
  cursor: default;
}

.card-column {
  display: flex;
  height: 100%;
  margin: 0 0.5em;
  background-color: #754226;
  border-radius: 3em;
}

.card-column:nth-of-type(1) {
  align-items: center;
  width: 45%;
  overflow: hidden;
}

.card-column:nth-of-type(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-column:nth-of-type(2) {
  min-width: 55%;
  align-items: center;
  justify-content: left;
}

.property-block {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 10px;
  margin-top: 1em;
  border: 3px solid black;
  border-radius: 0.5em;
}

.property-block-title {
  position: absolute;
  left: 0;
  bottom: 35px;
  display: flex;
  align-items: center;
  height: 2.5em;
  width: 15em;
  padding-left: 1.2em;
  margin-top: 1em;
  border: 3px solid;
  border-radius: 0.75em;
  font-size: 110%;
}

.property-block-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 15em;
  border: 2px solid black;
  border-radius: 0.5em;
}

.property-block-theme-small {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105%;
  left: -10px;
  right: -10px;
  bottom: 6px;
  margin-top: 0.5em;
  padding-left: 20px;
  background-color: #cf8c5c;
  border: 2px solid black;
  border-radius: 0.5em;
  text-align: left;
  font-size: 90%;
}

.property-block-theme > div {
  font-family: Georgia, serif;
  font-size: larger;
}

.vertical-bar {
  height: 60%;
  width: 15%;
  border: 3px solid black;
  border-radius: 1rem;
}

.horizontal-bar {
  align-self: center;
  height: 40%;
  width: 85%;
  border: 3px solid black;
  border-radius: 1rem;
}

.btn-gold {
  border: 2px solid gold;
  color: white;
  background-color: #e1ab81;
}

.btn-gold:hover {
  color: black;
  background-color: gold;
  transition: 500ms;
}

.mt-cancel {
  margin-top: 65px;
}

h6 {
  font-family: sans-serif;
  font-size: 100%;
}

.class {
  color: #e6b904;
}

.h-35 {
  height: 32%;
}

.purchase-button {
  position: absolute;
  right: -5px;
  bottom: 30px;
}

.purchase-button-up {
  position: absolute;
  right: -5px;
  top: 60px;
}

@media screen and (max-width: 1999px) {
  .card-small {
    width: 130px;
    height: 100px;
    margin: 0.5rem;
    color: white;
    background-color: #61371f;
    flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
    overflow: hidden; /* Ensure content doesn't overflow */
    position: relative; /* For positioning the property name overlay */
  }
}

@media screen and (min-width: 2000px) {
  .card-small {
    width: 177px;
    height: 100px;
    margin: 0.5rem;
    color: white;
    background-color: #61371f;
    flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
    overflow: hidden; /* Ensure content doesn't overflow */
    position: relative; /* For positioning the property name overlay */
  }
}

.card-img-top-small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1999px){
  .down-right {
    position: absolute;
    bottom: 4px;
    right: 12px;
  }
}

.btn {
  width: 209px;
  border-radius: 0.75em;
}

.background-color-dark-brown {
  background-color: #754226;
}

.background-color-light-brown {
  background-color: #b88157;
}

.background-color-gold {
  background-color: goldenrod;
  font-weight: bold;
}

.background-color-grey {
  background-color: grey;
}
