@if (gameDTO) {
  @if (!isDetailView) {
    <div class="d-flex flex-wrap justify-content-center mt-1">
      @for (entry of groupedBuildings; track entry.id) {
        <div class="card card-small" (click)="toggleDetailView(entry.building)">
          <div class="card-img-top">
            <img [src]="entry.building.imageUri" alt="{{entry.building.imageUri}} + ' image'"
                 class="card-img-top-small img-fluid">
          </div>
          <div class="property-block-theme-small">
            <div> {{ entry.building.name }}</div>
            <div class="mr-1 building-held-amount"> {{ entry.count }}</div>
          </div>
        </div>
      }
    </div>
    <app-grid
      [gameDTO]="gameDTO"
    ></app-grid>
    <app-district-info [gameDTO]="gameDTO"></app-district-info>
  }
  @if (isDetailView) {
    <app-building-view
      [building]="building!"
      (cancelDetailView)="toggleDetailView(null)">
    </app-building-view>
  }
}

