  <div *ngIf="receivingViewType === ownedBuildingsView">
    @if (purchasedBuildings) {
    <app-building-view
      (passViewType)="getBuildingViewType($event)"
      [viewType]="ownedBuildingsView"
      [allBuildings]="gameDTO.buildings"
    ></app-building-view>
    }
  </div>
  <div *ngIf="receivingViewType === purchaseView">
    @if (allBuildings) {
    <app-building-view
      [viewType]="purchaseView"
      [allBuildings]="allBuildings"
      [purchasedBuildings]="gameDTO.buildings"
      (purchasedBuildingEmitter)="updateGameDTO($event)"
    ></app-building-view>
    }
  </div>
