  <div *ngIf="receivingViewType === ownedBuildingsView">
    <app-building-view
      (passViewType)="getBuildingViewType($event)"
      [viewType]="ownedBuildingsView"
      [buildings]="gameDTO.buildings"
      (passSolarPanelPurchase)="updatePurchasedSolarSets($event)"
    ></app-building-view>
  </div>
  <div *ngIf="receivingViewType === purchaseView">
    @if (allBuildings) {
    <app-building-view
      [viewType]="purchaseView"
      [buildings]="allBuildings"
      (passBuilding)="updateBuildings($event)"
    ></app-building-view>
    }
  </div>
