@if (event) {
  <app-modal
    [isModalOpen]="isModalOpen"
    [showHeader]="true"
    [customWidthClass]="modalCustomWidth"
  >
    <div modal-title>
      <div class="title">{{ event.name }}</div>
    </div>
    <div modal-body>
      <p class="text-center description-font">{{ event.description }}</p>
      <div class="building-info">
        <img class="img-thumbnail img-50" [src]="event.buildingDTO!.imageUri">
        <app-building-info [building]="event.buildingDTO!"></app-building-info>
      </div>
      <p>Kies een perceel voor {{event.buildingDTO!.name}}</p>
      <div class="grid-75">
        <app-grid
          [building]="event.buildingDTO"
          [gameDTO]="gameDTO"
          [event]="event!"
          (passTile)="assignSelectedTile($event)"
        ></app-grid>
      </div>
      <div class="d-flex justify-content-around mt-3">
        <button class="btn btn-warning" (click)="acceptBuilding(event.buildingDTO!)">
          <div>Accepteren</div>
          <div class="funds mt-2">Prijs: {{ event.buildingDTO!.price }}</div>
        </button>
        <button class="btn btn-danger" (click)="rejectBuilding()">
          <div>Afwijzen</div>
          <div class="popularity mt-2">Verlies populariteit: {{ event.buildingDTO!.popularityCost }}</div>
        </button>
      </div>
    </div>
  </app-modal>
}
