@if (event) {
  <app-modal
    [isModalOpen]="isModalOpen"
    [showHeader]="true"
    [customWidthClass]="modalCustomWidth"
  >
    <div modal-title>
      <div class="title">{{ event.name }}</div>
    </div>
    <div modal-body>
      <p class="text-center description-font">{{ event.description }}</p>
      <div class="building-info">
        <img class="img-thumbnail img-50" [src]="event.buildingDTO!.imageUri">
        <app-building-info [building]="event.buildingDTO!"></app-building-info>
      </div>
      <h5>Kies een perceel voor {{ event.buildingDTO!.name }}</h5>
      <div class="grid-75 d-flex justify-content-around">
        <app-grid
          [building]="event.buildingDTO"
          [gameDTO]="gameDTO"
          [event]="event!"
          (passTile)="assignSelectedTile($event)"
        ></app-grid>
        @if (district) {
        <app-district-info
          [isSingleDistrict]="true"
          [district]="district">
        </app-district-info>
        }
      </div>
      <div class="d-flex justify-content-around mt-3">
        <button
          class="btn"
          [ngClass]="{
            'btn-warning': event.buildingDTO!.price <= gameDTO.funds,
             'btn-secondary': event.buildingDTO!.price > gameDTO.funds
            }"
          [disabled]="event.buildingDTO!.price > gameDTO.funds"
          (click)="acceptBuilding(event.buildingDTO!)">
          <div>Accepteren</div>
          <div class="funds mt-2">Prijs: {{ event.buildingDTO!.price }}</div>
        </button>
        <button class="btn btn-danger" (click)="rejectBuilding()">
          <div>Afwijzen</div>
          <div class="popularity mt-2">Verlies populariteit: {{ event.buildingDTO!.popularityCost }}</div>
        </button>
      </div>
    </div>
    @if (showNoGridCapacityModal) {
      <app-modal
        [isModalOpen]="showNoGridCapacityModal"
        [showHeader]="true"
        [headerClass]="'bg-danger'">
        <div modal-body class="d-flex flex-column align-items-center">
          <p>{{ noGridCapacityText }}</p>
          <button class="btn btn-outline-primary" (click)="toggleGridCapacityModal()">Sluiten</button>
        </div>
      </app-modal>
    }
  </app-modal>
}
