  <app-townhall-card
    [isSideBarGradient]="isSideBarGradient"
    [sidebarColorCode]="sideBarColorCode">
    <div card-title>
      Income
    </div>
    <div top>
      <div class="funds">{{ mockGameDto.funds | currency: 'USD' }}</div>
    </div>
    <div content>
      <div>
        <pre>  optimal<br>accounts</pre>
        <pre>   {{ optimalAccounts.length}}</pre>
      </div>
      <div>
        <pre><br>x</pre>
      </div>
      <div>
        <pre>income rate</pre>
        <pre>     {{ mockGameDto.incomeRate }}</pre>
      </div>
      <div>
        <pre><br>=</pre>
      </div>
      <div>
        <pre>income</pre>
        <pre> {{ mockGameDto.goldIncome }}</pre>
      </div>
    </div>
    <div button>
      <button type="button" class="btn btn-outline-primary" (click)="startAddingIncome()">Start income</button>
    </div>
  </app-townhall-card>
