<div class="loadsources-container" *ngIf="isInitialized">
  <div class="dashboard-box">
    <div>
      <app-chart-pie
        [trimLabels]="trimLabels"
        [showLabels]="showLabels"
        [chartVariableNames]="pieChartVariableNames"
        [chartColorValues]="pieChartColorValues"
        [chartResultValues]="pieChartResultValues">
      </app-chart-pie>
    </div>
    <div class="bar-chart-container">
      <app-chart-bar-vertical
        [chartVariableNames]="barchartVariableName"
        [chartColorValues]="barChartColorValue"
        [chartResultValues]="barChartResultValue"
        [gradient]="gradient"
        [animations]="animations"
        [showXAxis]="showXAxis"
        [showYAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yScaleMax]="yScaleMax">
      </app-chart-bar-vertical>
    </div>
  </div>
  <div class="dashboard-box">
    <div *ngFor="let source of mockGameDto.sources">
      <div class="card card-margins">
        <div class="card-top" [ngStyle]="{'background-color': source.color}"></div>
        <div class="img-borders" [ngStyle]="{'background-color': source.color}"></div>
        <div class="card-img-top">
          <img [src]="source.image" alt="{{source.image}} + ' image'" class="img-fluid">
        </div>
        <div class="img-borders" [ngStyle]="{'background-color': source.color}"></div>
        <div class="card-body">
          <div>{{ source.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
