<div class="container mt-5">
  <div *ngFor="let supervisor of supervisors">
    <div class="card">
      <div class="card-header">
        <img [src]="supervisor.profilePicUri"
             alt="'profile picture of '+ supervisor.firstName + ' ' + supervisor.lastName">
        <div class="card-body">
          <p>{{supervisor.firstName}} {{supervisor.lastName}}</p>
          <div class="container">
            <p>Areas of operation</p>
            <p *ngFor="let locality of supervisor.localityNames">{{locality}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
