<div class="row">
  <div class="col-md-6" *ngFor="let supervisor of supervisors">
        <div *ngIf="supervisor.image">
      <div class="card mt-5">
        <div class="card-img-top">
          <img [src]="supervisor.image" (click)="navigateTo(supervisor.id)"
               alt="{{supervisor.firstName}} {{supervisor.lastName}} profile picture">
        </div>
        <div class="card-body">
          <h4>{{supervisor.firstName}} {{supervisor.lastName}}</h4>
          <p class="card-text">This is text</p>
        </div>
      </div>
    </div>
  </div>
</div>

