<div class="chart-container">
  <ngx-charts-bar-vertical-stacked *ngIf="isInitialized"
    [results]="chartResults"
    [gradient]="gradient"  [scheme]="colorScheme"
    [customColors]="customColors"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [yScaleMax]="yAxisMaxValue"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [tooltipDisabled]="false">
  </ngx-charts-bar-vertical-stacked>
</div>



<!--    <div class="loadsources-container" *ngIf="isInitialized">-->
<!--      <div class="dashboard-box">-->
<!--        <div>-->
<!--          <app-chart-pie-->
<!--            [trimLabels]="trimLabels"-->
<!--            [showLabels]="showLabels"-->
<!--            [chartVariableNames]="pieChartVariableNames"-->
<!--            [chartColorValues]="pieChartColorValues"-->
<!--            [chartResultValues]="pieChartResultValues">-->
<!--          </app-chart-pie>-->
<!--        </div>-->
<!--        <div class="bar-chart-container">-->
<!--          <app-chart-bar-vertical-->
<!--            [chartVariableNames]="barchartVariableName"-->
<!--            [chartColorValues]="barChartColorValue"-->
<!--            [chartResultValues]="barChartResultValue"-->
<!--            [gradient]="gradient"-->
<!--            [animations]="animations"-->
<!--            [showXAxis]="showXAxis"-->
<!--            [showYAxis]="showYAxis"-->
<!--            [showXAxisLabel]="showXAxisLabel"-->
<!--            [showYAxisLabel]="showYAxisLabel"-->
<!--            [xAxisLabel]="xAxisLabel"-->
<!--            [yScaleMax]="yScaleMax">-->
<!--          </app-chart-bar-vertical>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


