<div *ngIf="scenario">
  <div *ngIf="scenarioRequirements">
    <div *ngIf="story">
      <div class="container mt-lg-5">
        <div class="card card-shadow">
          <div class="card-header card-header-bg bg-primary text-white">
            <div>
            <h4>Scenario Details</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-3 text-muted">Id:</div>
              <div class="col-md-9"> {{ scenario.id }}</div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3 text-muted">Naam:</div>
              <div class="col-md-9">
                <span *ngIf="!editMode">{{ scenario.name }}</span>
                <input *ngIf="editMode" type="text" class="form-control" name="name" [(ngModel)]="scenario.name">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3 text-muted">Beschrijving:</div>
              <div class="col-md-9">
                <span *ngIf="!editMode"> {{ scenario.description }}</span>
                <input *ngIf="editMode" type="text" class="form-control" name="description"
                       [(ngModel)]="scenario.description">
              </div>
            </div>


            <div class="row mb-3">
              <div class="col-md-3 text-muted">Succesvol getest</div>
              <div class="col-md-9">
          <span class="badge" [ngClass]="scenario.isSuccessfullyTested ? 'badge-success' : 'badge-danger'">
            {{ scenario.isSuccessfullyTested ? 'Ja' : 'Nee' }}
          </span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3 text-muted">Story</div>
              <a class="col-md-9" href="/stories/{{story.id}}">{{scenario.storyName}}</a>
              <br>
            </div>
            <div class="row mb-3">
              <div class="col-md-9">
                <button *ngIf="!editMode" class="btn btn-success"
                        (click)="markScenarioTested(this.scenario, this.scenario.id)">Voltooi scenario
                </button>
              </div>
            </div>
            <br>
            <div *ngIf="!editMode" class="container">
              <h4>Gerelateerde requirements</h4>
              <table class="table inner-table-color">
                <thead>
                <th>Naam</th>
                <th>Beschrijving</th>
                <th>Gebouwd</th>
                <th>Succesvol getest</th>
                </thead>
                <tbody>
                <tr class="clickable" *ngFor="let requirement of scenarioRequirements"
                    routerLink="/requirements/{{requirement.id}}">
                  <td>{{requirement.name}}</td>
                  <td>{{requirement.description}}</td>
                  <td>
              <span class="badge" [ngClass]="requirement.isBuilt ? 'badge-success' : 'badge-danger'">
                {{requirement.isBuilt ? 'Ja' : 'Nee'}}</span>
                  </td>
                  <td>
              <span class="badge" [ngClass]="requirement.isSuccessfullyTested ? 'badge-success' : 'badge-danger'">
                {{requirement.isSuccessfullyTested ? 'Ja' : 'Nee'}}
              </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="editMode" class="container mt-3 rounded p-3">
              <h5 class="text-muted">Voeg requirements toe</h5>
              <br>
              <br>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-5 pr-0 d-flex align-items-center justify-content-center">
                    <div>
                      <p class="text-muted">Requirements</p>
                      <select [(ngModel)]="selectedStoryRequirements"
                              class="form-select text-muted custom-select-height rounded-lg select-fixed-width" multiple
                              aria-label="multiple select requirements">
                        <option *ngFor="let requirementName of storyRequirementNames">{{requirementName}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex flex-column align-items-center w-100">
                      <button class="btn btn-outline-secondary mb-3">
                        <i class="bi bi-arrow-right" (click)="moveToScenarios()">>></i>
                      </button>
                      <button class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left" (click)="moveToRequirements()"><<</i>
                      </button>
                    </div>
                  </div>

                  <div class="col-5 pl-0 d-flex align-items-center justify-content-center">
                    <div>
                      <p class="text-muted">Scenarios</p>
                      <select [(ngModel)]="selectedScenarioRequirements"
                              class="form-select text-muted custom-select-height rounded-lg select-fixed-width" multiple
                              aria-label="multiple select scenarios">
                        <option *ngFor="let requirementName of scenarioRequirementNames">{{requirementName}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <button *ngIf="!editMode" class="btn btn-outline-primary" (click)="toggleEditMode()">Edit</button>
          <button *ngIf="editMode" class="btn btn-outline-primary" (click)="saveChanges(this.scenario, this.scenario.id)">Opslaan
          </button>
          <!--              <button class="btn btn-outline-danger ml-2">Delete</button>-->
        </div>
      </div>
    </div>
  </div>
</div>

