.card {
  height: 47vh;
  width: 21.5vw;
  margin: 5% 0 5% 7%;
  box-shadow: 1px 1px 5px 1px #cdc0b5;
  cursor: default;
}

.card-header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
}

.box-sidebar {
  height: 53vh;
  width: 0.5vw;
}


